/* title */

.title {
  position: relative;
  width: 100%;
  height: 100vh;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/pengudang.discover.co.id/images/content/title-home.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1,
.title p {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10vw;
  font-size: 75px;
  width: 30vw;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
}

.title h1 {
  line-height: 80px;
}

.title p {
  position: relative;
  top: 1.5em;
  transform: translate(0, 0);
  left: 0;
  width: 40vw;
  font-size: 20px;
}

/* end title */

/* information */

.first-information {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 150px 10vw 50px;
  column-gap: 3em;
}

.first-information h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}

.first-information h5 {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%);
  font-weight: normal;
}

.icon-info {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  column-gap: 15px;
}

.item-info {
  display: grid;
  row-gap: 1em;
  grid-template-rows: 70px 1.5em auto;
}

.item-info img {
  width: 70px;
}

.gambar-info {
  display: grid;
  grid-template-rows: auto 3em 3em;
  align-items: start;
  justify-items: center;
  text-align: center;
}

.gambar-info img {
  width: 80%;
  border-radius: 5px;
}

.gambar-info h3 {
  margin: 10px 0 0;
  font-size: 14px;
}

/* end information */

/* most popular */

.most-popular {
  width: 100%;
  height: auto;
  background-color: #e8f7ff;
  padding: 50px 0;
  text-align: center;
}

.most-popular h1 {
  font-size: 25px;
}

.list-item-most {
  padding: 50px 17vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.item-most {
  width: 20vw;
  height: calc(20vw + auto);
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 3px gray;
  transition: 0.5s;
}

.item-most img {
  width: 20vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.item-most:hover {
  box-shadow: 1px 1px 8px gray;
}

.info-most {
  position: relative;
  width: 85%;
  margin: 15px auto;
  color: black;
  text-align: left;
}

.info-most h3 {
  font-size: 14px;
}

.info-most img {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -70px;
  right: 0;
  box-shadow: 1px 1px 3px #1f83ae;
  border-radius: 50%;
}

/* end most popular */

/* start explore */

.start-explore {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/pengudang.discover.co.id/images/content/start-explore-mangrove-adventure.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.start-explore h1,
.start-explore p,
.start-explore button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.start-explore h1 {
  top: 38%;
  font-size: 35px;
}

.start-explore p {
  font-size: 14px;
  top: 50%;
}

.start-explore button {
  top: 60%;
  padding: 5px 45px;
  background-color: #42a7d3;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
}

/* end start explore */

/* tour gallery */

.tour-gallery {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 10vw 50px;
}

.tour-gallery h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
  text-align: center;
}

.tour-gallery p {
  position: absolute;
  top: 90px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

.list-item-gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 15px;
  column-gap: 15px;
}

.item-gallery {
  position: relative;
  width: 19vw;
  height: 15vw;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-gallery h1 {
  position: absolute;
  width: 100%;
  background-color: rgba(31, 131, 174, 0.5);
  height: 0;
  top: 100%;
  left: 50%;
  border-radius: 5px;
  text-align: center;
  transform: translateX(-50%);
  font-weight: normal;
  color: white;
  font-size: 1px;
  display: grid;
  align-items: center;
  justify-items: center;
  transition: 0.5s;
}

.go-gallery {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: white;
  background-image: url(/pengudang.discover.co.id/assets/curved-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 15px;
  bottom: 15px;
  transition: 0.5s;
}

.item-gallery:hover h1 {
  top: 0;
  height: 100%;
  font-size: 14px;
}

.item-gallery:hover .go-gallery {
  width: 30px;
  height: 30px;
}

/* end tour gallery */

/* guide */

.guide {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 15vw 50px;
  background-color: #e4fff6;
}

.guide h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}

.guide h2 {
  color: #28bfff;
}

.guide h6 {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%);
  font-weight: normal;
}

.list-item-guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-guide {
  position: relative;
  width: 13vw;
  height: 10vw;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2vw;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 1px solid #c3e4d9;
  cursor: pointer;
}

.item-guide img {
  width: 50px;
  transition: 0.5s;
}

.block-guide {
  position: absolute;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 0%;
  bottom: 0;
  border-radius: 5px;
  padding: 15px;
  display: grid;
  transition: 0.5s;
  color: #28bfff;
}

.block-guide h3 {
  align-self: center;
  font-size: 0px;
  transition: 0.5s;
}

.item-guide:hover img {
  width: 60%;
}

.item-guide:hover h2 {
  display: none;
}

.item-guide:hover .block-guide {
  height: 100%;
}

.item-guide:hover .block-guide h3 {
  font-size: 14px;
}

.item-guide:hover .block-guide p {
  font-size: 12px;
}

/* end guide */

/* maps */

.maps {
  position: relative;
  padding: 130px 0 50px;
}

.maps .h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  font-size: 25px;
}

.maps p {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
}

#map {
  height: 500px;
}

.go-google-maps {
  position: absolute;
  bottom: 70px;
  padding: 5px 10px;
  background-color: #42a7d3;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #236581;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.go-google-maps:hover {
  box-shadow: 1px 1px 3px #236581;
}

/* end maps */

/* our partner */

.our-tps {
  width: 100%;
  height: auto;
  background-color: white;
  position: relative;
  padding: 50px 10vw 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  row-gap: 15px;
  grid-template-areas: "team partner";
  align-items: center;
}

.our-tps h1 {
  font-size: 25px;
}

.team {
  grid-area: team;
  justify-self: center;
  text-align: center;
}

.icon-team {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.icon-team img {
  height: 70px;
}

.partner {
  display: grid;
  grid-area: partner;
  justify-items: center;
  text-align: center;
}

.icon-partner {
  justify-self: center;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.icon-partner img {
  height: 90px;
}

/* end our partner */

/* question */

.question {
  position: relative;
  width: 100%;
  height: auto;
  padding: 150px 17vw 50px;
  background-color: #f5f5f5;
}

.question h1 {
  position: absolute;
  font-size: 25px;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

.question h5 {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%);
  font-weight: normal;
}

.item-question {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  justify-items: center;
  align-items: start;
}

.item-question div {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: 25px;
  grid-template-areas:
    "img h2"
    "img p";
  align-items: start;
  column-gap: 15px;
}

.item-question div img {
  grid-area: img;
  width: 50px;
  object-fit: cover;
  border: 1px solid #42a7d3;
  border-radius: 50%;
  padding: 5px;
}

.item-question div h2 {
  grid-area: h2;
}

.item-question div p {
  grid-area: p;
}

.form-question {
  margin: 50px 0;
  display: grid;
  grid-template-rows: 30px 150px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "input1 input2 input3"
    "input4 input4 input4";
}

.form-question input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
}

.form-question input:focus {
  outline: none;
  border: 1px solid #42a7d3;
}

.form-question input:nth-child(1) {
  grid-area: input1;
}

.form-question input:nth-child(2) {
  grid-area: input2;
}

.form-question input:nth-child(3) {
  grid-area: input3;
}

.form-question textarea {
  grid-area: input4;
  resize: none;
  border: 1px solid #dddddd;
  padding: 5px;
  border-radius: 5px;
}

.form-question textarea:focus {
  outline: none;
  border: 1px solid #42a7d3;
}

.kirim-que {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  padding: 7px 20px;
  background-color: #42a7d3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #225368;
}

.kirim-que:hover {
  box-shadow: 1px 1px 3px #225368;
}

/* end question */

/* template */

.warna {
  color: #28bfff;
  font-size: 25px;
}

.warna-2 {
  color: #28bfff;
  font-size: 75px;
  text-shadow: 1px 1px 1px white;
}

.warna-3 {
  color: #28bfff;
  font-size: 35px;
  text-shadow: 1px 1px 1px white;
}

/* end template */

@media only screen and (max-width: 768px) {
  /* title */

  .title {
    height: 50vh;
  }

  .title h1,
  .title p {
    font-size: 40px;
    width: 80vw;
  }

  .title h1 {
    line-height: 40px;
  }

  .title p {
    width: 80vw;
    font-size: 14px;
    font-weight: normal;
  }

  /* end title */

  /* information */

  .first-information {
    grid-template-columns: 1fr;
  }

  .first-information h1 {
    width: 100%;
    text-align: center;
  }

  .first-information h5 {
    top: 80px;
  }

  .icon-info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .item-info p {
    text-align: justify;
  }

  .gambar-info {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 25px;
  }

  .gambar-info img {
    width: 100%;
  }

  /* end information */

  /* most popular */

  .most-popular {
    display: none;
  }

  /* end most popular */

  /* start explore */

  .start-explore {
    width: 100%;
    height: 70vw;
  }

  .start-explore h1 {
    top: 15%;
    font-size: 25px;
    width: 100%;
  }

  .start-explore p {
    top: 35%;
    width: 100%;
  }

  .start-explore button {
    top: 68%;
  }

  /* end start explore */

  /* tour gallery */

  .tour-gallery h1 {
    width: 100%;
    text-align: center;
  }

  .tour-gallery p {
    top: 100px;
    width: 100%;
    padding: 0 10vw;
  }

  .list-item-gallery {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .item-gallery {
    width: 37vw;
    height: 30vw;
  }

  .item-gallery h1 {
    position: relative;
    height: auto;
    top: auto;
    background: none;
    text-shadow: 1px 1px 1px black;
    font-size: 14px;
    padding: 0 10px;
  }

  .go-gallery {
    position: absolute;
    width: 20px;
    height: 20px;
  }

  /* end tour gallery */

  /* guide */

  .guide h6 {
    width: 100%;
    text-align: center;
  }

  .list-item-guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
  }

  .item-guide {
    width: 30vw;
    height: 30vw;
  }

  /* end guide */

  /* maps */

  .maps .h1 {
    width: 100%;
    text-align: center;
  }

  /* end maps */

  /* our partner */

  .our-tps h1 {
    font-size: 20px;
  }

  .icon-team img {
    height: 50px;
  }

  .icon-partner img {
    height: 50px;
  }

  .icon-support img {
    height: 50px;
  }

  /* end our partner */

  /* question */

  .question {
    padding: 150px 15vw 50px;
  }

  .question h1 {
    width: 100%;
    text-align: center;
  }

  .question h5 {
    top: 80px;
  }

  .item-question {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 0;
    padding: 0;
    justify-items: start;
  }

  .form-question {
    grid-template-rows: 30px 30px 30px 150px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "input1"
      "input2"
      "input3"
      "input4";
    justify-items: start;
  }

  .form-question textarea {
    width: 100%;
  }

  /* end question */

  /* template */

  .warna {
    color: #28bfff;
    font-size: 25px;
  }

  .warna-2 {
    color: #28bfff;
    font-size: 40px;
    text-shadow: 1px 1px 1px white;
  }

  .warna-3 {
    font-size: 25px;
  }

  /* end template */
}
